

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
 }

svg {
    margin-top: 45px;
}
.grey {
    stroke-width: 0.9;
    stroke:#ececec;
    fill: none;
    stroke-dasharray: 59;
    stroke-dashoffset: 81%;
    transform: rotate(152deg);
    transform-origin: center;
    stroke-linecap: round;
}

.green {
    stroke-width: 1;
    stroke: #70a84b;
    fill: none;
    stroke-dasharray: 91;
    stroke-dashoffset: 138%;
    transform: rotate(31deg);
    transform-origin: center;
    stroke-linecap: round;
}

.yellow {
    stroke-width: 1.1;
    stroke: #fcd329;
    fill: none;
    stroke-dasharray: 86;
    stroke-dashoffset: 135%;
    transform: rotate(-70deg);
    transform-origin: center;
    stroke-linecap: round;
}
.flag {
transform: translate(33%, 11%);
}

.number7 {
    font-size: 6.3px;
    fill: #555555;
    font-weight: 300;
    text-anchor: middle;
    font-family: 'Gotham Pro';
    transform: translate(-3%, -2%);
}

.dot-seven {
    font-size: 3px;
    transform: translate(66%, 38%);
    font-family: 'Gotham Pro';
    fill: #555555;
}

.percent {
    font-size: 2.1px;
    fill: #999ba3;
    transform: translate(101.5%, 28.2%);
}

.loyalty {
    fill: #5b5b5b;
    font-size: 2.7px;
    font-weight: 600;
    transform: translate(-2%, -1%);
}

.below-middle {
    font-size: 1.9px;
    font-weight: 600;
    fill: #fbd229;
    transform: translate(-1%, -2%);
}

.below1 {
    fill: #b7b2b2;
    font-size: 1.4px;
    transform: translate(39%, 59%);
}

.below2 {
    fill: #b7b2b2;
    font-size: 1.4px;
    transform: translate(53%, 61%);
}

.below3 {
    fill: #b7b2b2;
    font-size: 1.3px;
    transform: translate(63%, 63%);
}

.three-point {
    fill: #70a74b;
    font-size: 2px;
    transform: translate(49%, 69%);
}

.triangle {
    transform:translate(39%, 68%)
}

.corner-line {
    transform: rotate(270deg) translate(-118%, 9.5%);
}

.line {
    transform: rotate(360deg) translate(7%, 91.4%);
}

.plus-sign {
    transform: rotate(360deg) translate(9.5%, 112%);
}

.bottom-corner {
   transform: rotate(180deg) translate(-23.8%, -119%);
}

.rect1 {
    transform: translate(47%, 97%);
}

.half-rect1 {
    transform: translate(77.6%, 137.9%) rotate(180deg);
}

.half-rect2 {
    transform: translate(78%, 137.9%) rotate(180deg);
}

.half-rect3 {
    transform: translate(76.6%, 138.5%) rotate(180deg);
}

.quarter-rect1 {
    transform: translate(76.8%, 140.14%) rotate(180deg);
}

.quarter-rect2 {
    transform: translate(76.8%, 140.14%) rotate(180deg);
}

.quarter-rect3 {
    transform: translate(78.3%, 140.21%) rotate(180deg);
}

.footer {
    transform: translate(1%, -10%);
    font-size: 1px;
}

.footer2 {
    transform: translate(1%, 4%);
    font-size: 1px;
}

.footer3 {
    transform: translate(1%, 18%);
    font-size: 1px;
}

.footer-title {
    font-size: 1.7px;
    transform: translate(6%, 100%);
    fill: #555555;
    font-weight: 600;
}

.footer-percent {
    fill: #555;
    font-size: 1.5px;
    font-weight: 600;
    transform: translate(22%, 98%);
}

.footer-index {
    
    font-size: 1.5px;
    fill: #a6a6a6;
    transform: translate(22%, 101%);

}

.footer-box-percent {
    fill: #555;
    font-size: 1.4px;
    transform: translate(50%, 96%);
}

.human {
    transform: translate(49%, 113%);
    }